.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-light);
    // min-width: 18rem;
    // max-width: 24rem;
    width: var(--sidebar-width);
    padding: 0.75rem;
    z-index: 10;
    transition: width 300ms;
    position: sticky;
    top: 0px;
    bottom: 0px;
    height: 100%;
    max-height: calc(0px + 100vh);
    padding-inline-end: 0px;
    inset-inline-end: 0px;
    box-shadow: rgba(0, 0, 0, 0.12) -1px 0px 1px;
    margin-right: 0.5rem;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    line-height: 1.21875rem;
    letter-spacing: 0.06px;
    font-size: 0.9375rem;
    font-weight: 700;
}

.btn-close {
    width: 1.75rem !important;
    background-color: var(--white-color);
    justify-content: center !important;
    height: 3rem !important;
    color: var(--text-color);
}

.footer {
    position: sticky;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}

.btn-comment {
    background-color: var(--white-color);
    padding: 10px;
    height: 48px !important;
    color: var(--primary-color) !important;
    font-size: 17px !important;
}

.add-comment {
    display: flex;

}

.value-comment,
.btn-post {
    color: rgba(22, 24, 35, 0.34);
    font-size: 1rem;
}

.value-comment {
    flex: 1;
    width: 100%;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 6px;
}

.btn-post {
    background-color: transparent;
    width: auto !important;
    padding: 0 12px;
    margin-left: 4px;

    &:hover {
        background-color: transparent !important;
    }

    &.active {
        color: var(--primary-color);
    }
}