.wrapper {
    width: 20rem;
    height: 100vh;

    background-color: var(--background-color-light);
}

.inner {
    width: 15rem;
    height: 100vh;
    align-items: center;
    padding: 0 1.25rem;

    &:first-child {
        gap: 1rem;
    }

}

.logo {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-left: 4px;

    &:hover {
        cursor: pointer;
    }
}

.btn-search {
    font-size: 1.2rem;
    position: relative;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 99px !important;
    margin: 1rem 0;
    padding-inline-start: 8px;
}

.input {
    background-color: initial;
    font-weight: 400;
    font-size: 14px;
    margin: 0 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.btn-login {
    justify-content: center !important;
    font-size: 1rem;
    margin-top: 1rem;
}

.footer {
    border-top: 1px solid #e0e0e0;
    padding: 1rem 0;
    margin-top: 1rem;
    width: 100%;
}

.btn {
    font-size: 0.9rem !important;
    height: auto !important;
    margin-top: 5px;
    color: rgba(22, 24, 35, 0.5);
    background-color: transparent;

}

.footer-logo {
    font-size: 0.75rem;
    color: rgba(22, 24, 35, 0.5)
}

.wrapper.open {
    display: flex;

    .inner {
        width: 4.5rem;

        padding: 1rem;

        .logo {
            padding: 0;
            justify-content: center;
        }

        .btn-search {
            justify-content: center !important;
            gap: 0;
            padding: 0;
        }
    }
}

.menu-item {
    font-size: 18px;
    font-weight: 500;
}