.wrapper {
    width: 20rem;
    height: 100vh;
    position: fixed;
    z-index: 5;
    inset-inline-start: 4.5rem;
    background-color: var(--background-color-light);
    // border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.content {
    padding: 6px;
}